@page
@model web_form_logbook_2.Pages.HelloWorldModel
@{
    ViewData["Title"] = "HelloWorld";
}

<h2>HelloWorld</h2>

<h3>The time on this server is @DateTime.Now</h3>

<form method="POST">
    <div>Name: <input type="text" asp-for="name" /></div>
    <input type="submit" value="Send" />
</form>

<div id="result">@this.Model.name</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}